*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
}

header {
    background: rgb(71, 76, 77);
    display: flex;
    width: 100%;
    height: 8vh;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

header nav img {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 2.9vh;
    cursor: pointer;
}

header nav img:hover {
    position: absolute;
    right: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 2.9vh;
}

.compose-button {
    background: rgb(107, 125, 126);
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10vh;
    position: absolute;
    right: 13vh;
}

.compose-button:hover {
    background: rgb(107, 125, 126);
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10vh;
    position: absolute;
    right: 13vh;
    transform: scale(1.1);
}

header nav label {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 15px;
    color: #8898a0af;
}

header nav label:hover {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 15px;
    color: #8898a0af;
    transform: scale(1.1);
}