*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

nav {
    background: red;
    display: grid;
    width: 100%;
    height: 8vh;
}